.approveButton{
    background-color:green;
    color: white;
}
.cancelButton{
    background-color: red;
    color: white;
}
.confirmationCheckList{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.checkboxDiv{
    width: 100%; 
    /* margin-left: 250px; */
    font-size: large;
    /* display: flex; */
    /* flex-direction: column; */
    padding-top: 0.2rem;
}
.heading{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-left: 250px; */
}

.orderList{
    padding-left: 1rem;
}

.space{
    padding-left: 0.3rem;
}
.pendingLeave {
    /* font-weight: bold; */
    font-weight: bold;
    color: #EFA300;
    border-radius: 5px;
    border: 2px solid #EFA300;
    padding: 5px;
  }