.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* background-color: aqua; */
}

.messageDropDown{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 4px #b3c7ff;
    padding: 3rem;
}

.dropDownDiv{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 1rem;
    align-items: center;
}

.nameDiv{
    display: flex;
    flex-direction: column;
    height: 7vh;
    align-items: center;
}
.messageDiv{
    display: flex;
    justify-content: center;
}

.btn {
    background: linear-gradient(135deg, #b3c7ff, #697df7);
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #5c6ac8 !important;
    font-weight: 400;
  }