.employeeDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 4px #b3c7ff;
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
}

.profileResumeContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.headingContainer1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #0F6CBD;
  padding-bottom: 0.5rem;

}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  color: #0F6CBD;
  border-bottom: 2px solid #b3c7ff;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.infoItem1{
  /* background-color: #0F6CBD;   */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.infoItem {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #e0e7ff;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* background: #f4f7ff; */
  border-radius: 5px;
  /* transition: background 0.3s ease; */
}

.infoItem:last-of-type {
  border-bottom: none;
}

.infoItem span {
  font-weight: 600;
  color: #333;
}

.infoItem:hover {
  /* background: #e0e7ff; */
}

.resumeButton {
  display: flex;
  justify-content: flex-end;
}

.resumeButton button {
  background: linear-gradient(135deg, #b3c7ff, #697df7);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.3s;
}

.resumeButton button:hover {
  color: #5c6ac8 !important;
  background-color: #b3c7ff !important;
  border: 1.4px solid #b3c7ff !important;
  font-weight: 400;
  transform: scale(1.05);
}

.error {
  color: #dc3545;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.infonDiv {
  padding: 1rem;
  background: #f7faff;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
