.pendingLeave {
    /* font-weight: bold; */
    cursor: pointer;
    font-weight: bold;
    color: #EFA300;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #EFA300;
    padding: 5px;
  }
  
  .approvedLeave {
    /* font-weight: bold; */
    font-weight: bold;
    color: green;
    border-radius: 5px;
    border: 2px solid green;
    padding: 5px;
  }
.canceledLeave{
  cursor: pointer;
  font-weight: bold;
  color: #008D8D;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #008D8D;
  padding: 5px;
}
.rejectLeave{
  font-weight: bold;
  color: #f01111;
  border-radius: 5px;
  border: 2px solid #f01111;
  padding: 5px;
}

.partialApprovedLeave {
  cursor: pointer;
  font-weight: bold;
  color: rgb(144, 231, 166);
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid  rgb(144, 231, 166);
  padding: 5px;
}