.mainContainer {
  width: 100%;
  padding: 24px;
  background-color: #f5f7fa;
  min-height: calc(100vh - 64px);
}

.mainBlock {
  max-width: 1000px;
  margin: auto;
}

.tableDiv {
  display: flex;
  justify-content: center;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1;
}

.th {
  padding: 12px;
  text-align: center;
  background-color: #fafafa;
  border-bottom: 2px solid #f0f0f0;
  font-weight: 600;
  color: #262626;
}

.td {
  border-bottom: 1px solid #f0f0f0;
  padding: 12px;
  text-align: center;
  color: #595959;
}

.td:first-child {
  font-weight: 500;
}

.totalRow {
  padding: 8px;
  padding-left: 15px;
  text-align: left;
  border-bottom: 1px solid #DCDEDE;
  font-weight: 400;
  font-size: 14px;
  background-color: #EEF6FC;
}

.heading {
  color: #0F6CBD;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.headingText {
  font-size: 16px;
}