.note {
    padding: 5%;
    font-weight: bold;
    color: rgb(247, 243, 243);
}


.space{
    padding: 1%;
    font-family: 'Montserrat', 'sans-serif' !important;
}

.footerButtons {
    display: flex;
    justify-content:flex-start;
    margin-top: 20px;
    gap: 20px;
}
.approveButton{
    background-color:green;
    color: white;
}

.cancelButton{
    background-color: red;
    color: white;
}
