@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #EFEFEF */

}

.imageContainer {
  flex: 1;
  /* background: linear-gradient(to right, rgba(0, 123, 255, 0.8), rgba(0, 170, 255, 0.8));  */
  background: linear-gradient(135deg, #b3c7ff, #697df7);
  /* background-color:#F3F2F2 ; */
  /* max-width: 100%;
  max-height: 100%;   */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background-image: url('../../assets/imgContainer.jpg'); */
  background-size: cover;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.formContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 3px solid red ; */
  /* background-color:#F3F2F2 ; */
  /* background: linear-gradient(135deg, #b3c7ff, #697df7); */
  /* background-color: #F2E1C7; */
  /* padding: 20px;
  background-color: #EFEFEF;
  
  border-radius: 5px;
  margin : 20px; */
  text-align: center;
  /* background-color: #EFEFEF; */
  border: 1px solid #6B53FB;
}

.inputContainer {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;

}
.inputContainer1 {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  width: 330px;

}

.inputContainer label {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 330px;

}
.eyeIcon{
  padding-left: 0.5rem;
  cursor: pointer;
}

.rememberMeContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 10px;
  vertical-align: middle;
  margin-top: -8px;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.checkboxLabel {
  font-size: 14px;
  cursor: pointer;
}

.resetPassword {
  width: 330px;
  text-align: center;
  margin: 10px 0px;
  font-size: 16px;

}

.submitButton {
  margin-top: 10px;
  width: 330px;
  padding: 12px;
  background: linear-gradient(135deg, #b3c7ff, #697df7);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  border: 1.4px solid transparent;
}

.submitButton:hover {
  /* background: none; */
  color: #5c6ac8;
  background-color:#b3c7ff ;
  border: 1.4px solid #b3c7ff !important;
  font-weight: 400;
}

.specialChar {
  color: #5c6ac8;
}

.midContainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* box-shadow: 2px 2px 5px red; */
  border-radius: 105px;
}

.innerForm {
  width: 300px;
  /* border: 1px solid black; */
  /*Remove this later */
  /* margin-top: 10px; */
  padding: 20px;
}

.checkbox {
  width: 10px;
  height: 10px;
  transform: scale(1.5);
  cursor: pointer;
}

.checkboxLabel {
  font-size: 16px;
  vertical-align: middle;
}


.logoImage {
  width: 300px;
  /* border: 3px solid red ; */
  /* height: auto; */
  margin-top: -15px;
}

/* .companySlogan {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  font-size: 18px;
  white-space: pre;
  border-right: 2px solid;
  overflow: hidden;
  font-weight: bold;
} */

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading {
  font-size: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-family: 'Playfair Display', serif;
  /* font-weight: 100; */
  color: hwb(0 94% 5%);

}

.companySlogan {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: white;
}

.companySlogan p {
  /* font-size: 18px; */
  margin: 0px;
}

.input::placeholder {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;
}

.input:focus {
  outline: none;
}

.input:focus {
  border-color: #5c6ac8;
  box-shadow: 0 0 5px rgba(92, 106, 200, 0.5);
}

.login {
  font-size: 30px;
  margin: 0px 0px 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 500;
  padding-left: 2rem !important;
}

.blurryImage {
  filter: blur(5px);
}

