
.container{
    display: flex;
    justify-content: center;
    align-items: self-start;
    height: 100vh;
}

.resetPassForm
{
    margin-top: 5rem;
    border: 1px solid #cfcaca;
    padding: 1rem;
    border-radius: 8px;
}

.logoContainer
{
    text-align: center;
}

.fmLogo
{
    width: 300px;
}

.inputContainer
{
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 330px;
}

.resetButton
{
  width: 330px;
  padding: 12px;
  background: linear-gradient(135deg, #b3c7ff, #697df7);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border: 1.4px solid transparent;
}

.input:focus {
    outline: none;
    border-color: #5c6ac8;
    box-shadow: 0 0 5px rgba(92, 106, 200, 0.5);
}

.passMatchError
{
    font-size: 0.8rem;
    color: red;
    margin-bottom: 0.5rem;
}

.datePicker
{
    width: 330px;
    padding: 8px 10px;
}
.otpLink {
  margin-top: 6px;
  text-align: right; /* align link to right */
}

.linkText {
  color: #3b82f6; /* blue */
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.linkText:hover {
  color: #2563eb; /* darker blue */
}
