.main {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 4px #b3c7ff;
  height:20%;
  min-width: 80vh !important;
}

.typeofLeaveDiv {
  padding-bottom: 10px;
}

.headingApprover {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.datesContainer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: start;
  gap: 20px;
  padding-bottom: 4px;
}

.dateDiv {
  /* flex: 1; */
  /* min-width: 280px; */
  padding-bottom: 1rem;
}

.heading {
  /* display: block;
  padding-bottom: 0.8rem;
  font-size: 14px;
  color: #555; */
  display: block;
  font-weight: 600;
    font-size: 0.9rem;
    color: #34495e;
    padding: 0.2rem 0.2rem 0.5rem 0.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.levdue{
  display: block;
  font-weight: 600;
    font-size: 0.9rem;
    color: #34495e;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.desDiv {
  padding-bottom: 10px;
}

.inputDes {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
}

.footerButtons {
  display: flex;
  justify-content: flex-end;
}

.approveButton {
  background: linear-gradient(135deg, #b3c7ff, #697df7);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 6px; 
  cursor: pointer;
    padding: 12px;
    background: linear-gradient(135deg, #b3c7ff, #697df7) !important;
    color: #fff !important;
    border: 1.4px solid #b3c7ff !important;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 15px;
    font-weight: 500;
}

.approveButton:hover {
  color: #697df7 !important;
}

.content {
  padding: 20px;
}

.employeeBox {
  width: 100%;
  margin-bottom: 1%;
}