.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalContent h2 {
  color: #d32f2f;
  margin-bottom: 16px;
  font-size: 24px;
}

.modalContent p {
  color: #333;
  margin-bottom: 24px;
  line-height: 1.5;
  font-size: 16px;
}

.closeButton {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.closeButton:hover:not(:disabled) {
  background-color: #b71c1c;
}

.closeButton:disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}
.modalContent1{
  border: 1px solid rgb(237, 167, 16);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 247, 230);
  color: rgb(237, 167, 16);
  font-weight: 600;
  font-size: 16px;
}

.modalContent1p{
  margin-bottom: 0 !important;
}
