.main {
  padding: 20px;
}

.typeofLeaveDiv {
  padding-bottom: 20px;
}

.headingApprover {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.datesContainer {
  display: flex;
  padding-bottom: 10px;
}

.dateDiv {
  width: 99%;
}

.heading {
  display: block;
  padding-top: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #34495e;
  padding-bottom: 0.3rem;
}

.desDiv {
  padding-bottom: 20px;
}

.inputDes {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.approverDiv {
  padding-bottom: 20px;
}

.footerButtons {
  display: flex;
  justify-content: end;
  padding-top: 5%;
}

.approveButton {
  background: linear-gradient(135deg, #b3c7ff, #697df7);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.approveButton:hover {
  background-color: #7a99b4 !important;
}

.content {
  padding: 20px;
}
.Timebox {
  width: 98%;
}

.employeeName {
  width: 98%;
}
.titleHeading {
  font-weight: 600;
  font-size: 1rem;
  color: #0F6CBD;
  padding-bottom: 0.4rem;
}

.employeeBox{
  width: 95%;
}