/* Container for the form groups */
.formContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Input group styling */
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  /* Label styling */
  .inputGroup label {
    font-weight: 600;
    color: #333;
    /* margin-bottom: 5px; */
  }
  
  /* Input and select styling */
  .inputGroup input,
  .inputGroup .ant-select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Password input field styling */
  .inputGroup .ant-input-password {
    width: 100%;
  }
  
  /* Button container styling */
  .btnDiv {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
  }
  
  /* Filled-in button styling */
  .filledINbtn {
    padding: 12px;
    background: linear-gradient(135deg, #b3c7ff, #697df7) !important;
    color: #fff !important;
    border: 1.4px solid #b3c7ff !important;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size: 15px;
    font-weight: 500;
  }
  
  .filledINbtn:hover {
    background-color: #40a9ff;
    color: white;
  }
  
  /* Modal styling */
  .ant-modal {
    border-radius: 8px;
  }
  
  .ant-modal-content {
    border-radius: 8px;
  }
  
  .ant-modal-header {
    border-bottom: none;
  }
  
  .ant-modal-footer {
    border-top: none;
  }
  